# Data Exploration

## Importing libraries

In [53]:
%pip install pandas numpy matplotlib seaborn
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Requirement already satisfied: pandas in /Users/gregory/Documents/asian-tigers-growth-analysis/.venv/lib/python3.13/site-packages (2.3.3)
Requirement already satisfied: numpy in /Users/gregory/Documents/asian-tigers-growth-analysis/.venv/lib/python3.13/site-packages (2.3.5)
Requirement already satisfied: matplotlib in /Users/gregory/Documents/asian-tigers-growth-analysis/.venv/lib/python3.13/site-packages (3.10.7)
Requirement already satisfied: seaborn in /Users/gregory/Documents/asian-tigers-growth-analysis/.venv/lib/python3.13/site-packages (0.13.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/gregory/Documents/asian-tigers-growth-analysis/.venv/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/gregory/Documents/asian-tigers-growth-analysis/.venv/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/gregory/Documents/asian-tigers-growth-analysis/.venv/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: contourpy>=1.0.1 in /Users/gregory/Documents/asian-tigers-growth-analysis/.venv/lib/python3.13/site-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /Users/gregory/Documents/asian-tigers-growth-analysis/.venv/lib/python3.13/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Users/gregory/Documents/asian-tigers-growth-analysis/.venv/lib/python3.13/site-packages (from matplotlib) (4.61.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/gregory/Documents/asian-tigers-growth-analysis/.venv/lib/python3.13/site-packages (from matplotlib) (1.4.9)
Requirement already satisfied: packaging>=20.0 in /Users/gregory/Documents/asian-tigers-growth-analysis/.venv/lib/python3.13/site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in /Users/gregory/Documents/asian-tigers-growth-analysis/.venv/lib/python3.13/site-packages (from matplotlib) (12.0.0)
Requirement already satisfied: pyparsing>=3 in /Users/gregory/Documents/asian-tigers-growth-analysis/.venv/lib/python3.13/site-packages (from matplotlib) (3.2.5)
Requirement already satisfied: six>=1.5 in /Users/gregory/Documents/asian-tigers-growth-analysis/.venv/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

## Data loading

First, I'm going to set some display options

In [54]:
plt.style.use('seaborn-v0_8-darkgrid')
sns.set_palette("husl")

Next, I'll load and take a cursory look at the data

In [55]:
df = pd.read_csv("/Users/gregory/Documents/asian-tigers-growth-analysis/fred-downloads/tigers-rawdata.csv")

In [56]:
df.head()

,observation_date,EMPENGARA148NRUG,EMPENGBRA148NRUG,EMPENGHKA148NRUG,EMPENGINA148NRUG,EMPENGJPA148NRUG,EMPENGKRA148NRUG,EMPENGMXA148NRUG,EMPENGMYA148NRUG,EMPENGPHA148NRUG,...,RKNANPINA666NRUG,RKNANPJPA666NRUG,RKNANPKRA666NRUG,RKNANPMXA666NRUG,RKNANPMYA666NRUG,RKNANPPHA666NRUG,RKNANPSGA666NRUG,RKNANPTHA666NRUG,RKNANPTWA666NRUG,RKNANPUSA666NRUG
0,1950-01-01,6.608833,16.988243,NaN,155.781677,39.407654,NaN,7.894486,NaN,6.608846,...,598503.4375,790520.8125,NaN,413534.43750,NaN,73120.882812,NaN,55395.699219,NaN,10563268
1,1951-01-01,6.713252,17.461807,NaN,157.742752,40.384689,NaN,7.985795,NaN,6.797493,...,630228.3750,833484.4375,NaN,441980.68750,NaN,77104.781250,NaN,57122.683594,21416.632812,10898386
2,1952-01-01,6.819321,17.952208,NaN,159.808166,41.342064,NaN,8.078160,NaN,6.991501,...,649041.4375,865191.6875,NaN,473572.87500,NaN,80696.937500,NaN,59035.726562,22141.476562,11258935
3,1953-01-01,6.927065,18.460180,NaN,161.970383,42.261970,6.136804,8.171593,NaN,7.191021,...,675004.1875,893951.9375,160310.25000,503307.46875,NaN,85916.000000,NaN,60994.355469,23250.525391,11667803
4,1954-01-01,7.036511,18.986502,NaN,164.214508,42.801991,6.140400,8.266107,NaN,7.396209,...,718539.1875,929572.2500,158641.65625,537543.75000,NaN,91665.781250,NaN,63111.558594,24417.861328,12058041

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 53 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   observation_date  70 non-null     object
 1   EMPENGARA148NRUG  70 non-null     float64
 2   EMPENGBRA148NRUG  70 non-null     float64
 3   EMPENGHKA148NRUG  60 non-null     float64
 4   EMPENGINA148NRUG  70 non-null     float64
 5   EMPENGJPA148NRUG  70 non-null     float64
 6   EMPENGKRA148NRUG  67 non-null     float64
 7   EMPENGMXA148NRUG  70 non-null     float64
 8   EMPENGMYA148NRUG  65 non-null     float64
 9   EMPENGPHA148NRUG  70 non-null     float64
 10  EMPENGSGA148NRUG  60 non-null     float64
 11  EMPENGTHA148NRUG  70 non-null     float64
 12  EMPENGTWA148NRUG  69 non-null     float64
 13  EMPENGUSA148NRUG  70 non-null     float64
 14  LABSHPARA156NRUG  70 non-null     float64
 15  LABSHPBRA156NRUG  70 non-null     float64
 16  LABSHPHKA156NRUG  60 non-null     float64
 17  LABSHPINA156NRUG  70 non-null     float64
 18  LABSHPJPA156NRUG  70 non-null     float64
 19  LABSHPKRA156NRUG  67 non-null     float64
 20  LABSHPMXA156NRUG  70 non-null     float64
 21  LABSHPMYA156NRUG  65 non-null     float64
 22  LABSHPPHA156NRUG  70 non-null     float64
 23  LABSHPSGA156NRUG  60 non-null     float64
 24  LABSHPTHA156NRUG  70 non-null     float64
 25  LABSHPTWA156NRUG  69 non-null     float64
 26  LABSHPUSA156NRUG  70 non-null     float64
 27  RGDPNAARA666NRUG  70 non-null     float64
 28  RGDPNABRA666NRUG  70 non-null     float64
 29  RGDPNAHKA666NRUG  60 non-null     float64
 30  RGDPNAINA666NRUG  70 non-null     float64
 31  RGDPNAJPA666NRUG  70 non-null     float64
 32  RGDPNAKRA666NRUG  67 non-null     float64
 33  RGDPNAMXA666NRUG  70 non-null     float64
 34  RGDPNAMYA666NRUG  65 non-null     float64
 35  RGDPNAPHA666NRUG  70 non-null     float64
 36  RGDPNASGA666NRUG  60 non-null     float64
 37  RGDPNATHA666NRUG  70 non-null     float64
 38  RGDPNATWA666NRUG  69 non-null     float64
 39  RGDPNAUSA666NRUG  70 non-null     float64
 40  RKNANPARA666NRUG  70 non-null     float64
 41  RKNANPBRA666NRUG  70 non-null     float64
 42  RKNANPHKA666NRUG  60 non-null     float64
 43  RKNANPINA666NRUG  70 non-null     float64
 44  RKNANPJPA666NRUG  70 non-null     float64
 45  RKNANPKRA666NRUG  67 non-null     float64
 46  RKNANPMXA666NRUG  70 non-null     float64
 47  RKNANPMYA666NRUG  65 non-null     float64
 48  RKNANPPHA666NRUG  70 non-null     float64
 49  RKNANPSGA666NRUG  60 non-null     float64
 50  RKNANPTHA666NRUG  70 non-null     float64
 51  RKNANPTWA666NRUG  69 non-null     float64
 52  RKNANPUSA666NRUG  70 non-null     int64
dtypes: float64(51), int64(1), object(1)
memory usage: 29.1+ KB

I'm also renaming variables for readability

In [58]:
df.columns = df.columns.str.replace("EMPENG", "Number of Persons Engaged")

In [59]:
df.columns = df.columns.str.replace("LABSHP", "Share of Labour Compensation in GDP at Current National Prices")

In [60]:
df.columns = df.columns.str.replace("RGDPNA", "Real GDP at Constant National Prices")

In [61]:
df.columns = df.columns.str.replace("RKNANP", "Capital Stock at Constant National Prices")

In [62]:
df.head ()

,observation_date,Number of Persons EngagedARA148NRUG,Number of Persons EngagedBRA148NRUG,Number of Persons EngagedHKA148NRUG,Number of Persons EngagedINA148NRUG,Number of Persons EngagedJPA148NRUG,Number of Persons EngagedKRA148NRUG,Number of Persons EngagedMXA148NRUG,Number of Persons EngagedMYA148NRUG,Number of Persons EngagedPHA148NRUG,...,Capital Stock at Constant National PricesINA666NRUG,Capital Stock at Constant National PricesJPA666NRUG,Capital Stock at Constant National PricesKRA666NRUG,Capital Stock at Constant National PricesMXA666NRUG,Capital Stock at Constant National PricesMYA666NRUG,Capital Stock at Constant National PricesPHA666NRUG,Capital Stock at Constant National PricesSGA666NRUG,Capital Stock at Constant National PricesTHA666NRUG,Capital Stock at Constant National PricesTWA666NRUG,Capital Stock at Constant National PricesUSA666NRUG
0,1950-01-01,6.608833,16.988243,NaN,155.781677,39.407654,NaN,7.894486,NaN,6.608846,...,598503.4375,790520.8125,NaN,413534.43750,NaN,73120.882812,NaN,55395.699219,NaN,10563268
1,1951-01-01,6.713252,17.461807,NaN,157.742752,40.384689,NaN,7.985795,NaN,6.797493,...,630228.3750,833484.4375,NaN,441980.68750,NaN,77104.781250,NaN,57122.683594,21416.632812,10898386
2,1952-01-01,6.819321,17.952208,NaN,159.808166,41.342064,NaN,8.078160,NaN,6.991501,...,649041.4375,865191.6875,NaN,473572.87500,NaN,80696.937500,NaN,59035.726562,22141.476562,11258935
3,1953-01-01,6.927065,18.460180,NaN,161.970383,42.261970,6.136804,8.171593,NaN,7.191021,...,675004.1875,893951.9375,160310.25000,503307.46875,NaN,85916.000000,NaN,60994.355469,23250.525391,11667803
4,1954-01-01,7.036511,18.986502,NaN,164.214508,42.801991,6.140400,8.266107,NaN,7.396209,...,718539.1875,929572.2500,158641.65625,537543.75000,NaN,91665.781250,NaN,63111.558594,24417.861328,12058041